*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}

header h1{
    font-size: 60px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 3px black;
}



body{
    height:100vh;
    width: 100%;
    background-color: rgb(198, 188, 188);
    display: grid;
    place-items:center;
  }

  
body::-webkit-scrollbar{
    display: none;
}
 
 header{
width:100%;
height:100%;

}
.nav{
background-color: rgb(27, 25, 25); 
height: 80px;
width: 100%;
justify-content: space-between;
align-items: center;
display: flex;
padding: 0 5%;

}

.logo{
color: #fff;
font-size: 30px;
}

.logo span{
color:blue ;

}

.nav ul{
list-style: none;
display: flex;
}
.nav ul li{
padding: 10px 30px;
position: relative;
}

.nav ul li a{
color: #fff;
text-decoration: none;
font-size: 20px;
transition:all 0.3s;
}
.nav ul li a:hover{
color:blueviolet ;
}

div .drop{
display: none;
}


.nav ul li:hover .drop{
display: block;
position: absolute;
left:0;
top:100%;
background-color: rgb(27, 25, 25);
}

div .drop ul{
display: block;
margin: 10px;
}

div .drop ul li{
width:150px;
padding: 10px;
}


div .down{
display: none;
}


.nav ul li:hover .down{
display: block;
position: absolute;
left:0;
top:100%;
background-color: rgb(27, 25, 25);
}

div .down ul{
display: block;
margin: 10px;
}

div .down ul li{
width:150px;
padding: 10px;
}
.bi-caret-down-fill{
font-size: 12px;
}

div .down ul li{
width:150px;
padding: 10px;
}

.bi-caret-down-fill{
font-size: 12px;
}

.class h1{
    font-size: 40px;
   text-align: center; 
margin-top: 10px; 
margin-bottom:10px ;  
}

.class p{
 font-size: 18px; 
 gap: 10px; 
 margin-left: 10px; 
 padding: 5px;
 margin-right: 10px;
}

.clss h2{
    font-size: 40px;
    text-align: center;
}


/* <!-----------------------sliding-img----------------------------> */
.animal{
    margin: auto;
    height: 350px;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.open{
    display: flex;
    width:calc(250*18) ;
    animation: scroll 12s linear infinite;
}

@keyframes scroll{
  0%{
    transform: translate(0);
  } 
  100%{
    transform:translateX(calc(-250px * 4));
  } 
}

.start{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
 
img{
    width: 100%;
    transition: transform 1s;
    height: 250px;

}


img:hover{
    transform:translateZ(20px);
}

section p{
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:15px ;
    margin-left: 15px;
    margin-right: 15px;
    word-spacing: 4px;
    transition: all;
    /* text-align: center; */
}

section h3{
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 3px 5px white;
}